@font-face {
  font-family: "dolce_vita_heavybold";
  src: url("./dolce_vita_heavy_bold-webfont.woff2") format("woff2"), url("./dolce_vita_heavy_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 479px) {
  .big {
    display: none;
  }

  #header {
    height: 680px;
  }

  #logo {
    width: 15%;
    z-index: 4;
  }

  #menuToggle {
    top: 3%;
    left: 90%;
    z-index: 1;
    /* maybe change this so on scroll it has background and is on top */
  }

  #menu {
    top: 0%;
    width: 120%;
    height: 100%;
    margin: 0 0 0 -110%;
    letter-spacing: 2px;
    padding-top: 10%;
  }

  #headerImg {
    width: 100%;
    height: auto;
    position: fixed;
  }

  #iam {
    font-size: 2em;
    top: 65%;
    left: 30%;
  }

  #iam2 {
    font-size: 1.2em;
    top: 72%;
    left: 30%;
  }

  #social a {
    width: 7%;
    padding: 0.4%;
  }

  #social {
    margin-top: 10%;
  }

  /* MOBILE - PORTFOLIO */
  #portfolioTitleBox {
    height: 300px;
    width: 100%;
  }

  #portfolioTitleBox h2 {
    letter-spacing: 15px;
    font-size: 2em;
  }

  #portfolioTitleBox p {
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 2px;
  }

  /* MOBILE - FOOTER*/
  #footerLogo {
    width: 15%;
    padding: 2%;
  }

  #socialIcons a {
    width: 8%;
    padding: 2%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .small {
    display: none;
  }

  .blackLine {
    display: none;
  }

  #myname {
    display: none;
  }

  #header {
    height: 490px;
  }

  #logo {
    width: 10%;
    z-index: 4;
  }

  #menuToggle {
    top: 4%;
    left: 91%;
    z-index: 1;
    /* maybe change this so on scroll it has background and is on top */
  }

  #menu {
    top: 0%;
    width: 130%;
    height: 100%;
    margin: 0 0 0 -110%;
    letter-spacing: 2px;
    padding-top: 10%;
  }

  #headerImg {
    width: 100%;
    height: auto;
    position: fixed;
  }

  #iam {
    font-size: 2em;
    top: 40%;
    left: 60%;
  }

  #iam2 {
    font-size: 1.2em;
    top: 50%;
    left: 60%;
  }

  /* TABLET - PORTFOLIO */

  /* TABLET - FOOTER*/
}
@media (min-width: 480px) and (max-width: 768px) and (min-width: 480px) and (max-width: 670px) {
  /* fixing header sizes for smaller tablet */
  #header {
    height: 420px;
  }

  #iam {
    font-size: 1.5em;
    top: 30%;
    left: 50%;
  }

  #iam2 {
    font-size: 1.1em;
    top: 35%;
    left: 50%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #social a {
    width: 4%;
    padding: 1%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #social {
    margin-top: 10%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #portfolioTitleBox {
    height: 300px;
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #portfolioTitleBox h2 {
    letter-spacing: 15px;
    font-size: 2em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #portfolioTitleBox p {
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 2px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #footerLogo {
    width: 10%;
    padding: 2%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #socialIcons a {
    width: 4%;
    padding: 1.8%;
  }
}
@media (min-width: 769px) {
  .small {
    display: none;
  }

  #header {
    height: 800px;
  }

  #logo {
    width: 5%;
    z-index: 4;
  }

  #menuToggle {
    top: 5%;
    left: 93%;
  }

  #menu {
    top: 15%;
    width: 100%;
    height: 1000px;
    margin: -10% 0 0 -80%;
    letter-spacing: 2px;
    padding-top: 7%;
  }

  #headerImg {
    width: 85%;
    height: auto;
    margin-left: 15%;
    position: fixed;
  }

  #iam {
    font-size: 3em;
    top: 60%;
    left: 60%;
  }

  #iam2 {
    font-size: 2em;
    top: 70%;
    left: 60%;
  }

  #social a {
    width: 2.3%;
    padding: 0.4%;
  }

  #social {
    margin-top: 5%;
  }

  /* DESKTOP - PORTFOLIO */
  #portfolioTitleBox {
    height: 400px;
    width: 100%;
  }

  #portfolioTitleBox h2 {
    letter-spacing: 20px;
    font-size: 3.5em;
  }

  #portfolioTitleBox p {
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
  }

  /* DESKTOP - FOOTER */
  #footerLogo {
    width: 5%;
    padding: 2%;
  }

  #socialIcons a {
    width: 2%;
    padding: 0.3%;
  }
}
/* LOGO */
#logo {
  margin-top: 2%;
  margin-left: 2%;
  position: fixed;
}

/* MENU TOGGLE*/
#menuToggle {
  position: fixed;
  z-index: 1;
}

#menuToggle input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

/*
#menuToggle span:nth-last-child(3)
{
  margin-left: -7%;
}

#menuToggle span:nth-last-child(2)
{
  margin-left: -14%;
}
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(47deg) translate(2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-47deg) translate(0, -1px);
}

#menu {
  -webkit-clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
  background: black;
  position: fixed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(150%, 0);
  transition: transform 0.7s;
}

#menu li {
  margin-top: 2%;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.3em;
  padding-top: 40px;
  font-family: "Quicksand", "Avenir", sans-serif;
}

#menu a {
  text-decoration: none;
}

#menu li:hover {
  text-shadow: 0 0 10px #f7c882, 0 0 10px #db310e, 0 0 20px red, 0 0 10px red, 0 0 200px red, 0 0 600px red, 0 0 580px red;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#home {
  margin-top: 50px;
}

/* Header Image */
#header {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

/* HEADER DIAGONAL LINE */
.blackLine {
  width: 30%;
  height: 800px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  z-index: 3;
  float: left;
  position: fixed;
  background-color: #0e0e0e;
}

#myname {
  color: white;
  z-index: 3;
  font-family: "dolce_vita_heavybold", sans-serif;
  transform: rotate(-80deg);
  font-size: 5.5em;
  margin-top: 90%;
}

/* Header Text */
#iam {
  position: fixed;
  color: white;
  z-index: 1;
  font-family: "dolce_vita_heavybold", sans-serif;
}

#iam2 {
  position: fixed;
  color: white;
  z-index: 1;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-weight: lighter;
}

#social {
  text-align: center;
}

#social a {
  height: auto;
  display: inline-block;
}

#social a:hover {
  box-shadow: 0 0 10px #82bef7, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
}

@media (min-width: 480px) and (max-width: 768px) {
  #menuToggle {
    position: fixed;
    z-index: 1;
  }

  #menuToggle input {
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  /*
  #menuToggle span:nth-last-child(3)
  {
    margin-left: -7%;
  }

  #menuToggle span:nth-last-child(2)
  {
    margin-left: -14%;
  }
  */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(47deg) translate(2px, -1px);
    background: white;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-47deg) translate(0, -1px);
  }

  #menu {
    -webkit-clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: black;
    position: fixed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(150%, 0);
    transition: transform 0.7s;
  }

  #menu li {
    margin-top: 2%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
    padding-top: 0px;
    font-family: "Quicksand", "Avenir", sans-serif;
  }

  #home {
    margin-top: 30px;
  }
}
#portfolioTitleBox h2 {
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  color: #f8a9a9;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-weight: lighter;
}

#portfolioTitleBox p {
  text-align: center;
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #f7c882, 0 0 10px #db310e, 0 0 20px red, 0 0 10px red, 0 0 200px red, 0 0 300px red, 0 0 280px red;
  }
  to {
    text-shadow: 0 0 20px #f70808, 0 0 20px #db310e, 0 0 40px red, 0 0 20px red, 0 0 210px red, 0 0 310px red, 0 0 290px red;
  }
}
.portfolioImage {
  width: 50%;
  display: inline;
  float: left;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 105px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  text-decoration: underline;
  top: 30px;
  right: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover {
  color: #efefef;
  text-decoration: none;
  cursor: pointer;
}

#lightbox {
  text-align: center;
  padding-bottom: 15px;
}

.modal-content {
  width: 80%;
}

#footer {
  width: 100%;
  background-color: black;
}

#logoBottom {
  text-align: center;
}

#footerLogo {
  text-align: center;
}

#socialIcons {
  text-align: center;
}

#socialIcons a {
  height: auto;
  display: inline-block;
}

#socialIcons a:hover {
  box-shadow: 0 0 10px #82bef7, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
}

#copyright {
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 0.7em;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
}

#totop {
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 0.7em;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

#aboutParagraph {
  font-family: "Quicksand", "Avenir", sans-serif;
  color: white;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  padding-top: 4%;
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 20%;
}

.myIcons img {
  width: 15%;
}

.myIcons {
  float: left;
  display: inline;
  width: 33%;
  text-align: center;
  padding-top: 7%;
}

#skills {
  -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
  clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
  background: url(../images/brickwall.png);
  width: 100%;
}

#skills h2 {
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 4em;
  color: #d3d3fa;
  padding: 5%;
  -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
  -moz-animation: glowBlue 1s ease-in-out infinite alternate;
  animation: glowBlue 1s ease-in-out infinite alternate;
  font-weight: lighter;
  letter-spacing: 0.3em;
}

@-webkit-keyframes glowBlue {
  from {
    text-shadow: 0 0 10px #f7c882, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
  }
  to {
    text-shadow: 0 0 20px blue, 0 0 20px blue, 0 0 40px blue, 0 0 20px blue, 0 0 210px blue, 0 0 310px blue, 0 0 290px blue;
  }
}
#skillIcons {
  text-align: center;
}

#skillIcons img {
  width: 7%;
  padding-right: 4%;
  padding-left: 4%;
  cursor: pointer;
}

#skillInfo {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 150px;
  padding-top: 80px;
}

#skillInfo p {
  text-align: center;
  margin: 0 auto;
  font-family: "Quicksand", "Avenir", sans-serif;
}

#skill-title {
  font-family: "Quicksand", "Avenir", sans-serif;
  font-weight: normal;
  text-align: center;
}

#resumeDownload {
  text-align: center;
}

#resumeDownload span {
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
}

#school {
  width: 100%;
}

#school h2 {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 4em;
  color: white;
  padding: 5%;
  font-weight: lighter;
  letter-spacing: 0.3em;
}

#fanshawe {
  width: 49%;
  position: relative;
  color: white;
  display: inline-block;
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 1.4em;
  padding-bottom: 50px;
}

#western {
  width: 49%;
  position: relative;
  color: white;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 1.4em;
  padding-bottom: 50px;
}

#western img {
  width: 25%;
}

#fanshawe img {
  width: 30%;
}

#techs {
  -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
  clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
  background: url(../images/brickwall.png);
  width: 100%;
}

#techs h2 {
  text-align: center;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 4em;
  color: #d3d3fa;
  padding: 5%;
  -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
  -moz-animation: glowBlue 1s ease-in-out infinite alternate;
  animation: glowBlue 1s ease-in-out infinite alternate;
  font-weight: lighter;
  letter-spacing: 0.3em;
  padding-top: 14%;
}

#techIcons {
  text-align: center;
  padding-bottom: 15%;
}

#techIcons img {
  width: 7%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 2%;
}

@media (min-width: 769px) and (max-width: 1137px) {
  #iam {
    top: 40%;
    font-size: 2em;
  }

  #iam2 {
    top: 45%;
    font-size: 1.3em;
  }

  #header {
    height: 600px;
  }

  #myname {
    font-size: 3em;
  }

  #skills h2 {
    padding-top: 10%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .small {
    display: none;
  }

  .blackLine {
    display: none;
  }

  #myname {
    display: none;
  }

  #aboutParagraph {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 20%;
  }

  .myIcons img {
    width: 20%;
  }

  .myIcons p {
    font-size: 0.9em;
  }

  .myIcons {
    display: inline;
    width: 33%;
    text-align: center;
    padding-top: 7%;
  }

  #skills {
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
  }

  #skills h2 {
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 3em;
    color: #d3d3fa;
    padding: 5%;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    letter-spacing: 0.3em;
    padding-top: 20%;
  }

  @-webkit-keyframes glowBlue {
    from {
      text-shadow: 0 0 10px #f7c882, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
    }
    to {
      text-shadow: 0 0 20px blue, 0 0 20px blue, 0 0 40px blue, 0 0 20px blue, 0 0 210px blue, 0 0 310px blue, 0 0 290px blue;
    }
  }
  #skillIcons {
    text-align: center;
  }

  #skillIcons img {
    width: 15%;
    padding-right: 4%;
    padding-left: 4%;
    cursor: pointer;
  }

  #skillInfo {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 80px;
  }

  #skillInfo p {
    text-align: center;
    margin: 0 auto;
    font-family: "Quicksand", "Avenir", sans-serif;
  }

  #skill-title {
    font-family: "Quicksand", "Avenir", sans-serif;
    font-weight: normal;
    text-align: center;
  }

  #resumeDownload {
    text-align: center;
  }

  #resumeDownload span {
    color: white;
    font-family: "Quicksand", "Avenir", sans-serif;
  }

  #school {
    width: 100%;
  }

  #school h2 {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 3em;
    color: white;
    padding: 5%;
    font-weight: lighter;
    letter-spacing: 0.3em;
  }

  #fanshawe {
    width: 49%;
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1em;
    padding-bottom: 50px;
  }

  #western {
    width: 49%;
    position: relative;
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1em;
    padding-bottom: 50px;
  }

  #western img {
    width: 25%;
    padding-top: 5%;
  }

  #fanshawe img {
    width: 30%;
  }

  #techs {
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
  }

  #techs h2 {
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 2.4em;
    color: #d3d3fa;
    padding: 5%;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    letter-spacing: 0.3em;
    padding-top: 25%;
  }

  #techIcons {
    text-align: center;
    padding-bottom: 15%;
  }

  #techIcons img {
    width: 15%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
  }
}
@media (max-width: 656px) {
  .myIcons img {
    width: 10%;
  }

  .myIcons p {
    font-size: 1em;
  }

  .myIcons {
    display: inline;
    width: 100%;
    text-align: center;
    padding-top: 7%;
  }

  #aboutParagraph {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 70%;
  }
}
@media (max-width: 479px) {
  #aboutParagraph {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 70%;
  }

  #skills h2 {
    padding-top: 25%;
    font-size: 2.4em;
  }

  #skillIcons img {
    width: 16%;
    padding-right: 4%;
    padding-left: 4%;
    cursor: pointer;
  }

  #school h2 {
    font-size: 2em;
    padding: 5%;
    letter-spacing: 0.3em;
  }

  #techs h2 {
    font-size: 1.4em;
    color: #d3d3fa;
    padding: 5%;
    letter-spacing: 0.3em;
    padding-top: 30%;
  }

  #techIcons {
    text-align: center;
    padding-bottom: 20%;
  }

  #techIcons img {
    width: 20%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
  }

  #fanshawe {
    width: 100%;
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1.4em;
    padding-bottom: 50px;
  }

  #western {
    width: 100%;
    position: relative;
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1.4em;
    padding-bottom: 50px;
  }

  #western img {
    width: 25%;
  }

  #fanshawe img {
    width: 30%;
  }
}
/*CONTACT ME*/
#headerContact {
  width: 100% !important;
  height: 100% !important;
}

.contactHeading {
  font-family: "dolce_vita_heavybold", sans-serif;
  color: white;
  float: left;
  padding-left: 25%;
  padding-top: 5%;
  font-size: 2.2em;
}

#contactSentence {
  font-family: "Quicksand", "Avenir", sans-serif;
  color: white;
  float: left;
  padding-left: 15%;
  padding-top: 0%;
  text-align: center;
  margin-right: 40%;
}

#bodyContact {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(../images/brickwall2.png);
}

#contact h2 {
  color: white;
  text-align: center;
  font-size: 2.4em;
  margin-top: -50%;
}

#hi {
  position: fixed;
  margin-left: 70%;
  margin-top: 30%;
}

#contactForm {
  float: left;
  letter-spacing: 0.5px;
  line-height: 3em;
  padding-bottom: 15%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

#contactForm label {
  display: block;
  color: black;
}

#submit {
  color: black;
  padding: 5px;
  border-radius: 6px;
  background-color: white;
  width: 20% !important;
  cursor: pointer;
  display: block;
}

#contactForm input {
  width: 50%;
  height: 30px;
}

#comments {
  width: 100%;
}

.blackLineContact {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
  clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
  float: left;
  background-color: #0e0e0e;
}

#contactForm label {
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
}

#contactInfoTitle {
  margin: 0 auto;
  font-family: "Quicksand", "Avenir", sans-serif;
  color: white;
  -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
  -moz-animation: glowBlue 1s ease-in-out infinite alternate;
  animation: glowBlue 1s ease-in-out infinite alternate;
  font-weight: lighter;
  font-size: 2em;
  letter-spacing: 5px;
}

/* SOCIAL MEDIA */
#socialContact a {
  display: inline-block;
  width: 11%;
  float: left;
  -webkit-filter: invert(1);
  margin: 0 auto;
  margin: 4%;
}

.lep {
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 1em;
  padding-top: 2%;
}

@media (min-width: 480px) and (max-width: 768px) {
  #headerContact {
    width: 100% !important;
    height: 100% !important;
  }

  .contactHeading {
    font-family: "dolce_vita_heavybold", sans-serif;
    color: white;
    padding-top: 5%;
    font-size: 2.2em;
    text-align: center !important;
    margin: 0 auto !important;
    padding-left: 0%;
    float: none;
  }

  #contactSentence {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    text-align: center;
    margin-right: 0;
  }

  #bodyContact {
    width: 100%;
    background: url(../images/brickwall2.png);
  }

  #contact h2 {
    color: white;
    text-align: center;
    font-size: 2.4em;
  }

  #hi {
    display: block;
    position: relative;
    margin-left: 0;
    margin: 0 auto;
    text-align: center;
  }

  #contactForm {
    letter-spacing: 0.5px;
    line-height: 3em;
    padding-bottom: 15%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }

  #contactForm label {
    display: block;
    color: black;
  }

  #submit {
    color: black;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    width: 100% !important;
    height: 5%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  #contactForm input {
    width: 100%;
    height: 30px;
  }

  #comments {
    width: 100%;
    height: 30px;
  }

  #name {
    width: 100%;
    height: 30px;
  }

  .blackLineContact {
    width: 100%;
    background-color: #0e0e0e;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
  }

  #contactForm label {
    color: white;
    font-family: "Quicksand", "Avenir", sans-serif;
  }

  #contactInfoTitle {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 5px;
  }

  /* SOCIAL MEDIA */
  #socialContact a {
    display: inline-block;
    width: 11%;
    float: left;
    -webkit-filter: invert(1);
    margin: 0 auto;
    margin: 4%;
  }

  .lep {
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1em;
    padding-top: 2%;
  }
}
@media (max-width: 479px) {
  #headerContact {
    width: 100% !important;
    height: 100% !important;
  }

  .contactHeading {
    font-family: "dolce_vita_heavybold", sans-serif;
    color: white;
    padding-top: 5%;
    font-size: 2.2em;
    text-align: center !important;
    margin: 0 auto !important;
    padding-left: 0%;
    float: none;
  }

  #contactSentence {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    text-align: center;
    margin-right: 0;
  }

  #bodyContact {
    width: 100%;
    background: url(../images/brickwall2.png);
  }

  #contact h2 {
    color: white;
    text-align: center;
    font-size: 2.4em;
  }

  #hi {
    display: block;
    position: relative;
    margin-left: 0;
    margin: 0 auto;
    text-align: center;
  }

  #contactForm {
    letter-spacing: 0.5px;
    line-height: 3em;
    padding-bottom: 15%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }

  #contactForm label {
    display: block;
    color: black;
  }

  #submit {
    color: black;
    padding: 5px;
    border-radius: 6px;
    background-color: white;
    width: 100% !important;
    height: 5%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  #contactForm input {
    width: 100%;
    height: 30px;
  }

  #comments {
    width: 100%;
    height: 30px;
  }

  #name {
    width: 100%;
    height: 30px;
  }

  .blackLineContact {
    width: 100%;
    background-color: #0e0e0e;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
  }

  #contactForm label {
    color: white;
    font-family: "Quicksand", "Avenir", sans-serif;
  }

  #contactInfoTitle {
    font-family: "Quicksand", "Avenir", sans-serif;
    color: white;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 5px;
  }

  /* SOCIAL MEDIA */
  #socialContact a {
    display: inline-block;
    width: 11%;
    float: left;
    -webkit-filter: invert(1);
    margin: 0 auto;
    margin: 4%;
  }

  .lep {
    font-family: "Quicksand", "Avenir", sans-serif;
    font-size: 1em;
    padding-top: 2%;
  }
}
#cntowerTitle {
  color: white;
  font-family: "dolce_vita_heavybold", sans-serif;
  text-align: center;
  font-size: 4em;
}

#cntowerText p {
  color: white;
  font-family: "Quicksand", "Avenir", sans-serif;
  font-size: 1em;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: url(../images/dark2.jpg);
}

@font-face {
  font-family: "dolce_vita_heavybold";
  src: url("../fonts/dolce_vita_heavy_bold-webfont.woff2") format("woff2"), url("../fonts/dolce_vita_heavy_bold-webfont.woff") format("woff"), url("../fonts/dolce_vita_heavy_bold-webfont.otf") format("opentype"), url("../fonts/dolce_vita_heavy_bold-webfont.svg") format("svg"), url("../fonts/dolce_vita_heavy_bold-webfont.ttf") format("truetype"), url("../fonts/dolce_vita_heavy_bold-webfont.eot");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
