@import 'modules/vars';
@import 'modules/mediaqueries';
@import 'modules/header';
@import 'modules/portfolio';
@import 'modules/footer';
@import 'modules/about';
@import 'modules/contact';
@import 'modules/cntower';
@import 'modules/animate';


.hidden {
    display:none;
}

body
	{
	  margin: 0;
      padding: 0;
      width: 100%;
      background: url(../images/dark2.jpg);
    }
    
    @font-face {
      font-family: 'dolce_vita_heavybold';
      src: url('../fonts/dolce_vita_heavy_bold-webfont.woff2') format('woff2'),
           url('../fonts/dolce_vita_heavy_bold-webfont.woff') format('woff'),
           url('../fonts/dolce_vita_heavy_bold-webfont.otf') format('opentype'),
           url('../fonts/dolce_vita_heavy_bold-webfont.svg') format('svg'),
           url('../fonts/dolce_vita_heavy_bold-webfont.ttf') format('truetype'),
           url('../fonts/dolce_vita_heavy_bold-webfont.eot');
      font-weight: normal;
      font-style: normal;
  
  }

  
.hide {
  visibility: hidden;
}

.visible {
visibility: visible !important;
}

.delay1 {
  -animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.delay2 {
  -animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}


#html {
    scroll-behavior: smooth; }