<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Soraya Pittis - Home</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!--VUE-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

     <!--Waypoint-->
     <script src="js/noframework.waypoints.min.js"></script>
     <script src="js/mywaypoint.js"></script>

</head>
<body>

<div id="header">
<h2 class="hidden">Header</h2>

<a href="index.html"><img id="logo" src="images/logo.svg" alt="Soraya Pittis Logo" title="Soraya Pittis Logo"></a>


<div class="blackLine big"><div class="black big"><h2 id="myname">SORAYAPITTIS</h2></div></div>
<img id="headerImg" class="big" src="images/back3.jpg" alt="Soraya Pittis" title="Soraya Pittis">
<img id="headerImg" class="small" src="images/header-mobile.jpg" alt="Soraya Pittis" title="Soraya Pittis"> <!--THEY HAVE THE SAME ID-->
<h2 id="iam">I AM SORAYA.</h2>
<p id="iam2">designer. photographer. producer.</p>






    <nav role="navigation">
            <div id="menuToggle">
                <h2 class="hidden">Navigation</h2>
            
              <input id="checkbox" type="checkbox"/>
              
          
              <span></span>
              <span></span>
              <span></span>
              
          
              <ul id="menu">
                <a href="index.html"><li id="home">HOME</li></a>
                <a href="about.html"><li>ABOUT</li></a>
                <a href="#portfolioTitleBox"><li>PORTFOLIO</li></a>
                <a href="contact.html"><li>CONTACT ME</li></a>


                <div id="social">
                    <a target="_blank" href="https://www.instagram.com/sorayapittis/?hl=en"><img src="images/instagram.svg" alt="instagram" title="instagram"></a>
                    <a target="_blank" href="https://github.com/spittis"><img src="images/github.svg" alt="github" title="github"></a>
                    <a target="_blank" href="https://www.behance.net/pittissora0cdb"><img src="images/behance.svg" alt="behance" title="behance"></a>
                    <a target="_blank" href="https://www.facebook.com/soraya.pittis"><img src="images/facebook.svg" alt="facebook" title="facebook"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/soraya-pittis-a03256163/"><img src="images/linkedin.svg" alt="linked in" title="linked in"></a>
                 </div>
    

              </ul>


            
            </div>


    </nav>



</div>  


<main id="app"><!-- > Main tag for Vue <!-->
    <div id="portfolioTitleBox">
        <h2 class="welcome-message">{{ welcomemessage }}</h2>
        <p>Check out a small sample of my most recent work</p>
    </div>
<!--
    <ul class="portfolioImages">
        <li v-for="video in videodata">
                <img class="logo" :src="'images/' + video.portfolio_thumb" alt="portfolio piece">
            </a>
        </li>
    </ul>
-->


   
        <div v-for="video in videodata">
            <img class="portfolioImage" :src="'images/' + video.portfolio_thumb" width="200px">
        </div>
    
        <div>
            <img class="logo" src="images/strangerthings.jpg">
            <img class="logo" src="images/back.jpg" width="100px">
        </div>
    
    <div id="myModal" class="modal">
        <span class="close">close</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>

</main>



<div id="totop">
    <h2 class="hidden">back to top</h2>
    <p>BACK TO TOP</p>
</div>

<div id="footer">
    <h2 class="hidden">Footer</h2>
    <div id="logoBottom">
    <a href="index.html"><img id="footerLogo" src="images/logo.svg" alt="Soraya Pittis Logo" title="Soraya Pittis Logo"></a>
    </div>

    <div id="socialIcons">
    <a target="_blank" href="https://www.instagram.com/sorayapittis/?hl=en"><img src="images/instagram.svg" alt="instagram" title="instagram"></a>
    <a target="_blank" href="https://github.com/spittis"><img src="images/github.svg" alt="github" title="github"></a>
    <a target="_blank" href="https://www.behance.net/pittissora0cdb"><img src="images/behance.svg" alt="behance" title="behance"></a>
    <a target="_blank" href="https://www.facebook.com/soraya.pittis"><img src="images/facebook.svg" alt="facebook" title="facebook"></a>
    <a target="_blank" href="https://www.linkedin.com/in/soraya-pittis-a03256163/"><img src="images/linkedin.svg" alt="linked in" title="linked in"></a>
    </div>

    <div id="copyright"><p>©2018 DESIGNED AND DEVELOPED BY SORAYA PITTIS</p></div>

</div>


    <script src="js/gulpfile.js"></script>
    <script src="js/main.js"></script>
    <script src="js/master.js"></script>
    <script src="js/scrolltotop.js"></script>
    <script src="js/lightbox.js"></script> 
</body>
</html>