#aboutParagraph
{
    font-family: $font-stock;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 20%;;
}

.myIcons img
{
   width: 15%;
}

.myIcons
{
    float: left;
    display: inline;
    width: 33%;
    text-align: center;
    padding-top: 7%;
}

#skills
{
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
}

#skills h2
{
    text-align: center;
    font-family: $font-stock;
    font-size: 4em;
    color: rgb(211, 211, 250);
    padding: 5%;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    letter-spacing: 0.3em;
}

@-webkit-keyframes glowBlue {
  from {
    text-shadow: 0 0 10px #f7c882, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
  }
  to {
    text-shadow: 0 0 20px blue, 0 0 20px blue, 0 0 40px blue, 0 0 20px blue, 0 0 210px blue, 0 0 310px blue, 0 0 290px blue;
  }
}

#skillIcons
{
    text-align: center;
}

#skillIcons img
{
    width: 7%;
    padding-right: 4%;
    padding-left: 4%;
    cursor: pointer;
}


#skillInfo
{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 80px;
}

#skillInfo p
{
    text-align: center;
    margin: 0 auto;
    font-family: $font-stock;

}

#skill-title
{
    font-family: $font-stock;
    font-weight: normal;
    text-align: center;
}

#resumeDownload
{
    text-align: center;
}

#resumeDownload span
{
    color: white;
    font-family: $font-stock;
}

#school
{
    width: 100%;
}

#school h2
{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
    font-family: $font-stock;
    font-size: 4em;
    color: white;
    padding: 5%;
    font-weight: lighter;
    letter-spacing: 0.3em;
}

#fanshawe 
{
    width: 49%;
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: $font-stock;
    font-size: 1.4em;
    padding-bottom: 50px;
}

#western
{
    width: 49%;
    position: relative;
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: $font-stock;
    font-size: 1.4em;
    padding-bottom: 50px;
}

#western img
{
    width: 25%;
}

#fanshawe img
{
    width: 30%;
}




#techs
{
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
}

#techs h2
{
    text-align: center;
    font-family: $font-stock;
    font-size: 4em;
    color: rgb(211, 211, 250);
    padding: 5%;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    letter-spacing: 0.3em;
    padding-top: 14%;
}

#techIcons
{
    text-align: center;
    padding-bottom: 15%;
}

#techIcons img
{
    width: 7%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
}







//SMALLER DESKTOP!

@media (min-width: 769px) and (max-width: 1137px) {

    #iam
    {
        top: 40%;
        font-size: 2em;
    }

    #iam2
    {
        top: 45%;
        font-size: 1.3em;
    }

    #header
    {
        height: 600px;
    }

    #myname
    {
        font-size: 3em;
    }

    #skills h2
    {
        padding-top:10%;
    }
}










//TABLET

@media (min-width: 480px) and (max-width: 768px) {

    .small
     {
         display:none;
     }
 
     .blackLine
     {
         display:none;
     }
 
     #myname
     {
         display: none;
     }
 
     //about page
 
     #aboutParagraph
 {
     font-family: $font-stock;
     color: white;
     width: 70%;
     text-align: center;
     margin: 0 auto;
     font-size: 1em;
     padding-top: 4%;
     padding-right: 15%;
     padding-left: 15%;
     padding-bottom: 20%;;
 }
 
 .myIcons img
 {
    width: 20%;
 }

 .myIcons p
 {
     font-size: .9em;
 }
 
 .myIcons
 {
     display: inline;
     width: 33%;
     text-align: center;
     padding-top: 7%;
 }
 
 #skills
 {
     -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
     clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
     background: url(../images/brickwall.png);
     width: 100%;
 }
 
 #skills h2
 {
     text-align: center;
     font-family: $font-stock;
     font-size: 3em;
     color: rgb(211, 211, 250);
     padding: 5%;
     -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
     -moz-animation: glowBlue 1s ease-in-out infinite alternate;
     animation: glowBlue 1s ease-in-out infinite alternate;
     font-weight: lighter;
     letter-spacing: 0.3em;
     padding-top: 20%;
 }
 
 @-webkit-keyframes glowBlue {
   from {
     text-shadow: 0 0 10px #f7c882, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
   }
   to {
     text-shadow: 0 0 20px blue, 0 0 20px blue, 0 0 40px blue, 0 0 20px blue, 0 0 210px blue, 0 0 310px blue, 0 0 290px blue;
   }
 }
 
 #skillIcons
 {
     text-align: center;
 }
 
 #skillIcons img
 {
     width: 15%;
     padding-right: 4%;
     padding-left: 4%;
     cursor: pointer;
 }


 
 #skillInfo
 {
     width: 80%;
     margin: 0 auto;
     padding-bottom: 150px;
     padding-top: 80px;
 }
 
 #skillInfo p
 {
     text-align: center;
     margin: 0 auto;
     font-family: $font-stock;
 
 }
 
 #skill-title
 {
     font-family: $font-stock;
     font-weight: normal;
     text-align: center;
 }
 
 #resumeDownload
 {
     text-align: center;
 }
 
 #resumeDownload span
 {
     color: white;
     font-family: $font-stock;
 }
 
 #school
 {
     width: 100%;
 }
 
 #school h2
 {
     -webkit-animation: glow 1s ease-in-out infinite alternate;
     -moz-animation: glow 1s ease-in-out infinite alternate;
     animation: glow 1s ease-in-out infinite alternate;
     text-align: center;
     font-family: $font-stock;
     font-size: 3em;
     color: white;
     padding: 5%;
     font-weight: lighter;
     letter-spacing: 0.3em;
 }
 
 #fanshawe 
 {
     width: 49%;
     position: relative;
     color: white;
     display: inline-block;
     text-align: center;
     font-family: $font-stock;
     font-size: 1em;
     padding-bottom: 50px;
 }
 
 #western
 {
     width: 49%;
     position: relative;
     color: white;
     display: inline-block;
     margin: 0 auto;
     text-align: center;
     font-family: $font-stock;
     font-size: 1em;
     padding-bottom: 50px;
 }
 
 #western img
 {
     width: 25%;
     padding-top:5%;
 }
 
 #fanshawe img
 {
     width: 30%;
 }
 
 
 
 
 #techs
 {
     -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
     clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
     background: url(../images/brickwall.png);
     width: 100%;
 }
 
 #techs h2
 {
     text-align: center;
     font-family: $font-stock;
     font-size: 2.4em;
     color: rgb(211, 211, 250);
     padding: 5%;
     -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
     -moz-animation: glowBlue 1s ease-in-out infinite alternate;
     animation: glowBlue 1s ease-in-out infinite alternate;
     font-weight: lighter;
     letter-spacing: 0.3em;
     padding-top: 25%;
 }
 
 #techIcons
 {
     text-align: center;
     padding-bottom: 15%;
 }
 
 #techIcons img
 {
     width: 15%;
     padding-right: 4%;
     padding-left: 4%;
     padding-bottom: 2%;
 }
 
}

//TABLET SMALLER SIZE!
@media (max-width: 656px) {
    .myIcons img
    {
       width: 10%;
    }
   
    .myIcons p
    {
        font-size: 1em;
    }
    
    .myIcons
    {
        display: inline;
        width: 100%;
        text-align: center;
        padding-top: 7%;
    }

    #aboutParagraph
{
    font-family: $font-stock;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 70%;
}
}


//MOBILE - CONTACT

@media (max-width: 479px) {


    #aboutParagraph
{
    font-family: $font-stock;
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    padding-top: 4%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 70%;
}

#skills h2{
    padding-top:25%;
    font-size: 2.4em;
}
 
#skillIcons img
{
    width: 16%;
    padding-right: 4%;
    padding-left: 4%;
    cursor: pointer;
}

#school h2
{
    font-size: 2em;
    padding: 5%;
    letter-spacing: 0.3em;
}

#techs h2
{
    font-size: 1.4em;
    color: rgb(211, 211, 250);
    padding: 5%;
    letter-spacing: 0.3em;
    padding-top: 30%;
}

#techIcons
{
    text-align: center;
    padding-bottom: 20%;
}

#techIcons img
{
    width: 20%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
}

#fanshawe 
{
    width: 100%;
    position: relative;
    color: white;
    display: inline-block;
    text-align: center;
    font-family: $font-stock;
    font-size: 1.4em;
    padding-bottom: 50px;
}

#western
{
    width: 100%;
    position: relative;
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: $font-stock;
    font-size: 1.4em;
    padding-bottom: 50px;
}

#western img
{
    width: 25%;
}

#fanshawe img
{
    width: 30%;
}


}