.backButton
{
    padding: 2%;
    padding-left: 5px;
}

#cntowerTitle
{
    color:white;
    font-family: $headers;
    text-align: center;
    font-size: 4em;
}

#cntowerText p
{
    color: white;
    font-family: $font-stock;
    font-size: 1em;
}

#playPause
{
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  margin-top:10%;
}


#videovideo
{
    position: relative;
    padding-bottom: 70%;
}

#eventVid
{
    position: absolute;
    width: 100%;
    left: 0;
}

#controls
{
    position: absolute;
    width: 100%;
}

.caseStudy
{
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.cases
{
    width: 100%;
}

.caseStudy p
{
    padding-left: 4%;
    padding-right: 4%;
    font-family: $font-stock;
    font-size: 1.4em;
}

.caseStudy h4
{
    padding-left: 4%;
    padding-right: 2%;
    font-family: $headers;
    font-size: 2em;
}

#cntowerWork
{
    width: 100%;
    text-align: center;
}

#cntowerWork img
{
    width: 25%;
    padding: 4%;
    text-align: center;
}