.backButton
{
    padding: 1%;
    padding-left: 15px;
}

#cntowerTitle
{
    color:white;
    font-family: $headers;
    text-align: center;
}

#cntowerText p
{
    color: white;
    font-family: $font-stock;
}

#playPause
{
  cursor: pointer;
  margin: 0 auto;
}

.caseStudy
{
    -webkit-clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 17%, 100% 83%, 0% 100%);
    background: url(../images/brickwall.png);
    width: 100%;
}

.cases
{
    width: 100%;
    font-family: $font-stock;
    font-size: 1.4em;
}

.caseStudy p
{
    padding-left: 4%;
    padding-right: 4%;
    font-family: $font-stock;
}

.caseStudy h4
{
    padding-left: 4%;
    padding-right: 2%;
    font-family: $headers;
}

#cntowerWork
{
    width: 100%;
    text-align: center;
}

#cntowerWork img
{
    text-align: center;
}


//bottom
#caseDate
{
    float: left;
    text-align: center;
}

#caseType
{
    float: left;
    text-align: center;
}

#collab
{
    float: left;
    text-align: center;
}

#techUsed
{
    text-align: center;
    width: 100%;
}


.tectTitle
{
    font-family: $headers;
}


