    /*CONTACT ME*/

#headerContact
{
    width: 100% !important;
    height: 100% !important;
}

#submit:hover
{
    color: black;
    background-color: white;
    cursor: pointer;
}

#name
{
    background: rgba(255, 0, 0, 0);
    color: white;
    font-family: $font-stock;
}

#email
{
    background: rgba(0, 0, 0, 0);
    color: white;
    font-family: $font-stock;
}

#message
{
    background: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
    font-family: $font-stock;
}
    
.contactHeading
{
    font-family: $headers;
    color: white;
    float: left;
    padding-left: 25%;
    padding-top: 5%;
    font-size: 2.2em;
}

#contactSentence
{
    font-family: $font-stock;
    color: white;
    float: left;
    padding-left: 15%;
    padding-top: 0%;
    text-align: center;
    margin-right: 40%;
}

    #bodyContact
	{
	  margin: 0;
      padding: 0;
      width: 100%;
      background: url(../images/brickwall2.png);
    }
	
    #contact h2{
        color: white; 
        text-align: center;
        font-size: 2.4em;
        margin-top: -50%;
    }

    #hi
    {
        position: fixed;
        margin-left: 70%;
        margin-top: 30%;
    }
    
    #contactForm
    {
        float: left;
        letter-spacing: 0.5px;
        line-height: 3em;
        padding-bottom: 15%;
        padding-top:2%;
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
    }

    #contactForm label
    {
        display: block;
        color: black;
    }

    #submit{
        //color: black;
        padding: 5px;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0);
        width: 20% !important;
        cursor: pointer;
        display: block;
        font-family: $font-stock;
        color: white;
    }

    #contactForm input{
        width: 50%;
        height: 30px;
    }


.blackLineContact
{
    width: 100%;
    -webkit-clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 55% 100%, 0% 100%);
    float: left;
    background-color: #0e0e0e;
}


#contactForm label
{
    color: white;
    font-family: $font-stock;
}

#contactInfoTitle /*Contact Info Title*/
{
    margin: 0 auto;
    font-family: $font-stock; 
    color: white;
    -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
    -moz-animation: glowBlue 1s ease-in-out infinite alternate;
    animation: glowBlue 1s ease-in-out infinite alternate;
    font-weight: lighter;
    font-size: 2em;
    letter-spacing: 5px;
}

/* SOCIAL MEDIA */

#socialContact a
{
    display: inline-block;
    width: 11%;
    float: left;
    -webkit-filter: invert(1);
    margin: 0 auto;
    margin: 4%;
}

.lep
{
    font-family: $font-stock;
    font-size: 1em;
    padding-top: 2%;
}





//TABLET

@media (min-width: 480px) and (max-width: 768px) {


    #message
    {
        width: 100%;
    }
 
    #headerContact
    {
        width: 100% !important;
        height: 100% !important;
    }
        
    .contactHeading
    {
        font-family: $headers;
        color: white;
        padding-top: 15%;
        font-size: 2.2em;
        text-align: center !important;
        margin: 0 auto !important;
        padding-left: 0%;
        float: none;

    }
    
    #contactSentence
    {
        font-family: $font-stock;
        color: white;
        text-align: center;
        margin-right: 0;
    }
    
        #bodyContact
        {
          width: 100%;
          background: url(../images/brickwall2.png);
        }
        
        #contact h2{
            color: white; 
            text-align: center;
            font-size: 2.4em;
        }
    
        #hi
        {
            display: block;
            position: relative;
            margin-left: 0;
            margin: 0 auto;
            text-align: center;
            z-index: -2;
        }
        
        #contactForm
        {
            letter-spacing: 0.5px;
            line-height: 3em;
            padding-bottom: 15%;
            padding-top:2%;
            padding-left: 10%;
            padding-right: 10%;
            width: 80%;
        }
    
        #contactForm label
        {
            display: block;
            color: black;
        }
    
        #submit{
            color: black;
            padding: 5px;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0);
            width: 100% !important;
            height: 5%;
            cursor: pointer;
            display: block;
            color: white;
        }
    
        #contactForm input{
            width: 100%;
            height: 30px;
        }
    
        #comments{
            width: 100%;
            height: 30px;
        }

        #name
        {
            width: 100%;
            height: 30px; 
        }
    
    
    .blackLineContact
    {
        width: 100%;
        background-color: #0e0e0e;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
    }
    
    
    #contactForm label
    {
        color: white;
        font-family: $font-stock;
    }
    
    #contactInfoTitle /*Contact Info Title*/
    {
        font-family: $font-stock; 
        color: white;
        -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
        -moz-animation: glowBlue 1s ease-in-out infinite alternate;
        animation: glowBlue 1s ease-in-out infinite alternate;
        font-weight: lighter;
        font-size: 2em;
        letter-spacing: 5px;
    }
    
    /* SOCIAL MEDIA */
    
    #socialContact a
    {
        display: inline-block;
        width: 11%;
        float: left;
        -webkit-filter: invert(1);
        margin: 0 auto;
        margin: 4%;
        text-align: center;
    }
    
    .lep
    {
        font-family: $font-stock;
        font-size: 1em;
        padding-top: 2%;
    }

}

// desktop

@media (min-width: 769px) {
    #message
    {
        width:50%;
    }

}


//MOBILE

@media (max-width: 479px) {

#message
{
    width: 100%;
}

    #headerContact
    {
        width: 100% !important;
        height: 100% !important;
    }
        
    .contactHeading
    {
        font-family: $headers;
        color: white;
        padding-top: 20%;
        font-size: 2.2em;
        text-align: center !important;
        margin: 0 auto !important;
        padding-left: 0%;
        float: none;

    }
    
    #contactSentence
    {
        font-family: $font-stock;
        color: white;
        text-align: center;
        margin-right: 0;
    }
    
        #bodyContact
        {
          width: 100%;
          background: url(../images/brickwall2.png);
        }
        
        #contact h2{
            color: white; 
            text-align: center;
            font-size: 2.4em;
            padding-top: 5%;
        }
    
        #hi
        {
            display: block;
            position: relative;
            margin-left: 0;
            margin: 0 auto;
            text-align: center;
            z-index: -2;
        }
        
        #contactForm
        {
            letter-spacing: 0.5px;
            line-height: 3em;
            padding-bottom: 15%;
            padding-top:2%;
            padding-left: 10%;
            padding-right: 10%;
            width: 80%;
        }
    
        #contactForm label
        {
            display: block;
            color: black;
        }
    
        #submit{
            color: black;
            padding: 5px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0);
            width: 100% !important;
            height: 5%;
            cursor: pointer;
            display: block;
            margin: 0 auto;
            color: white;
        }
    
        #contactForm input{
            width: 100%;
            height: 30px;
        }
    
        #comments{
            width: 100%;
            height: 30px;
        }

        #name
        {
            width: 100%;
            height: 30px; 
        }
    
    
    .blackLineContact
    {
        width: 100%;
        background-color: #0e0e0e;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 89%);
    }
    
    
    #contactForm label
    {
        color: white;
        font-family: $font-stock;
    }
    
    #contactInfoTitle /*Contact Info Title*/
    {
        font-family: $font-stock; 
        color: white;
        -webkit-animation: glowBlue 1s ease-in-out infinite alternate;
        -moz-animation: glowBlue 1s ease-in-out infinite alternate;
        animation: glowBlue 1s ease-in-out infinite alternate;
        font-weight: lighter;
        font-size: 2em;
        letter-spacing: 5px;
    }
    
    /* SOCIAL MEDIA */
    
    #socialContact a
    {
        display: inline-block;
        width: 11%;
        float: left;
        -webkit-filter: invert(1);
        margin: 0 auto;
        margin: 4%;
    }
    
    .lep
    {
        font-family: $font-stock;
        font-size: 1em;
        padding-top: 2%;
    }


}