#footer
{
    width: 100%;
    background-color: black;
}

#logoBottom
{
    text-align: center;
}

#footerLogo
{
    text-align: center;
}

#socialIcons
{
    text-align: center;
}

#socialIcons a
{
    height: auto;
    display: inline-block;
}

#socialIcons a:hover
{
    box-shadow: 0 0 10px #82bef7, 0 0 10px blue, 0 0 20px blue, 0 0 10px blue, 0 0 200px blue, 0 0 300px blue, 0 0 280px blue;
}

#copyright
{
    color: white;
    font-family: $font-stock;
    font-size: 0.7em;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
}

#totop
{
    color: white;
    font-family: $font-stock;
    font-size: 1em;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1px;
    padding: 5%;
    cursor: pointer;
}

