

//MOBILE

@media (max-width: 479px) {

.big
{
    display:none;
}


//MOBILE INDEX HEADER

#header
{
    height: 680px;
}

#logo
{
    width: 15%;
    z-index: 4;
}

#menuToggle
{
  top: 3%;
  left: 90%;
  z-index: 1; /* maybe change this so on scroll it has background and is on top */
}

#menu
{
  top: 0%;
  width: 120%;
  height: 100%;
  margin: 0 0 0 -110%;
  letter-spacing: 2px;
  padding-top: 10%;
}

#headerImg
{
    width: 100%;
    height: auto;
    position: fixed;
}

#iam
{
    font-size: 2em;
    top: 65%;
    left: 30%;
}

#iam2
{
    font-size: 1.2em;
    top: 72%;
    left: 30%;
}

#social a
{
    width: 7%;
    padding: 0.4%;
}

#social
{
    margin-top: 10%;
}

/* MOBILE - PORTFOLIO */

#portfolioTitleBox
{
    height: 300px;
    width: 100%;
}

#portfolioTitleBox h2 /*Portfolio Title*/
{
    letter-spacing: 15px;
    font-size: 2em;
}

#portfolioTitleBox p /*Text under Portfolio Title*/
{
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 2px;
}

/* MOBILE - FOOTER*/


#footerLogo
{
    width: 15%;
    padding: 2%;
}

#socialIcons a
{
    width: 8%;
    padding: 2%;
}


}











//TABLET

@media (min-width: 480px) and (max-width: 768px) {

   .small
    {
        display:none;
    }

    .blackLine
    {
        display:none;
    }

    #myname
    {
        display: none;
    }

    

    
    
    // TABLET INDEX HEADER

    #header
{
    height: 490px;
}
    
    #logo
    {
        width: 10%;
        z-index: 4;
    }
    
    #menuToggle
    {
      top: 4%;
      left: 91%;
      z-index: 1; /* maybe change this so on scroll it has background and is on top */
    }
    
    #menu
    {
      top: 0%;
      width: 130%;
      height: 100%;
      margin: 0 0 0 -110%;
      letter-spacing: 2px;
      padding-top: 10%;
    }
    
    #headerImg
    {
        width: 100%;
        height: auto;
        position: fixed;
    }
    
    #iam
    {
        font-size: 2em;
        top: 40%;
        left: 60%;
    }
    
    #iam2
    {
        font-size: 1.2em;
        top: 50%;
        left: 60%;
    }
    
    @media (min-width: 480px) and (max-width: 670px) { /* fixing header sizes for smaller tablet */

        #header
        {
            height: 420px;
        }

        #iam
        {
            font-size: 1.5em;
            top: 30%;
            left: 50%;
        }
        
        #iam2
        {
            font-size: 1.1em;
            top: 35%;
            left: 50%;
        }
    }

    #social a
    {
        width: 4%;
        padding: 1%;
    }
    
    #social
    {
        margin-top: 10%;
    }
    
    /* TABLET - PORTFOLIO */
    
    #portfolioTitleBox
    {
        height: 300px;
        width: 100%;
    }
    
    #portfolioTitleBox h2 /*Portfolio Title*/
    {
        letter-spacing: 15px;
        font-size: 2em;
    }
    
    #portfolioTitleBox p /*Text under Portfolio Title*/
    {
        font-size: 100%;
        font-weight: 100;
        letter-spacing: 2px;
    }
    
    /* TABLET - FOOTER*/
    
    
    #footerLogo
    {
        width: 10%;
        padding: 2%;
    }
    
    #socialIcons a
    {
        width: 4%;
        padding: 1.8%;
    }


    

}










//DESKTOP

@media (min-width: 769px) {

    .small
    {
        display:none;
    }

// DESKTOP INDEX HEADER

#header
{
    height: 800px;
}

#logo
{
    width: 5%;
    z-index: 4;
}

#menuToggle
{
  top: 5%;
  left: 93%;
}

#menu
{
  top: 15%;
  width: 100%;
  height: 1000px;
  margin: -10% 0 0 -80%;
  letter-spacing: 2px;
  padding-top:7%;
}

#headerImg
{
    width: 85%;
    height: auto;
    margin-left: 15%;
    position: fixed;
}

#iam
{
    font-size: 3em;
    top: 60%;
    left: 60%;
}

#iam2
{
    font-size: 2em;
    top: 70%;
    left: 60%;
}

#social a
{
    width: 2.3%;
    padding: 0.4%;
}

#social
{
    margin-top: 5%;
}

/* DESKTOP - PORTFOLIO */

#portfolioTitleBox
{
    height: 400px;
    width: 100%;
}

#portfolioTitleBox h2 /*Portfolio Title*/
{
    letter-spacing: 20px;
    font-size: 3.5em;
}

#portfolioTitleBox p /*Text under Portfolio Title*/
{
    font-size: 1.3em;
    font-weight: 100;
    letter-spacing: 2px;
}

/* DESKTOP - FOOTER */

#footerLogo
{
    width: 5%;
    padding: 2%;
}

#socialIcons a
{
    width: 2%;
    padding: 0.3%;
}


}





